In [378]:
import pandas as pd
import numpy as np

In [379]:
train_df = pd.read_csv(r'../Datathon-main/hospitalizaciones_train.csv')

In [380]:
test_df = pd.read_csv(r'../Datathon-main/hospitalizaciones_test.csv')

In [381]:
test_df.head()

,Available Extra Rooms in Hospital,Department,Ward_Facility_Code,doctor_name,staff_available,patientid,Age,gender,Type of Admission,Severity of Illness,health_conditions,Visitors with Patient,Insurance,Admission_Deposit
0,3,gynecology,F,Dr Olivia,10,2858,21-30,Female,Trauma,Moderate,Other,2,No,4749.640225
1,2,TB & Chest disease,E,Dr John,4,65657,51-60,Female,Trauma,Moderate,Asthama,2,Yes,4122.261324
2,2,radiotherapy,E,Dr John,7,45598,51-60,Other,Trauma,Moderate,None,3,No,5459.067882
3,2,gynecology,F,Dr Olivia,1,31132,21-30,Female,Trauma,Moderate,None,2,Yes,3987.033318
4,2,anesthesia,A,Dr John,7,125021,51-60,Female,Trauma,Extreme,Diabetes,2,No,4770.789695

In [382]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90000 entries, 0 to 89999
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Available Extra Rooms in Hospital  90000 non-null  int64
 1   Department                         90000 non-null  object
 2   Ward_Facility_Code                 90000 non-null  object
 3   doctor_name                        90000 non-null  object
 4   staff_available                    90000 non-null  int64
 5   patientid                          90000 non-null  int64
 6   Age                                90000 non-null  object
 7   gender                             90000 non-null  object
 8   Type of Admission                  90000 non-null  object
 9   Severity of Illness                90000 non-null  object
 10  health_conditions                  90000 non-null  object
 11  Visitors with Patient              90000 non-null  int64
 12  Insurance                          90000 non-null  object
 13  Admission_Deposit                  90000 non-null  float64
dtypes: float64(1), int64(4), object(9)
memory usage: 9.6+ MB

In [383]:
train_df.head()

,Available Extra Rooms in Hospital,Department,Ward_Facility_Code,doctor_name,staff_available,patientid,Age,gender,Type of Admission,Severity of Illness,health_conditions,Visitors with Patient,Insurance,Admission_Deposit,Stay (in days)
0,4,gynecology,D,Dr Sophia,0,33070,41-50,Female,Trauma,Extreme,Diabetes,4,Yes,2966.408696,8
1,4,gynecology,B,Dr Sophia,2,34808,31-40,Female,Trauma,Minor,Heart disease,2,No,3554.835677,9
2,2,gynecology,B,Dr Sophia,8,44577,21-30,Female,Trauma,Extreme,Diabetes,2,Yes,5624.733654,7
3,4,gynecology,D,Dr Olivia,7,3695,31-40,Female,Urgent,Moderate,None,4,No,4814.149231,8
4,2,anesthesia,E,Dr Mark,10,108956,71-80,Male,Trauma,Moderate,Diabetes,2,No,5169.269637,34

In [384]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410000 entries, 0 to 409999
Data columns (total 15 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Available Extra Rooms in Hospital  410000 non-null  int64
 1   Department                         410000 non-null  object
 2   Ward_Facility_Code                 410000 non-null  object
 3   doctor_name                        410000 non-null  object
 4   staff_available                    410000 non-null  int64
 5   patientid                          410000 non-null  int64
 6   Age                                410000 non-null  object
 7   gender                             410000 non-null  object
 8   Type of Admission                  410000 non-null  object
 9   Severity of Illness                410000 non-null  object
 10  health_conditions                  410000 non-null  object
 11  Visitors with Patient              410000 non-null  int64
 12  Insurance                          410000 non-null  object
 13  Admission_Deposit                  410000 non-null  float64
 14  Stay (in days)                     410000 non-null  int64
dtypes: float64(1), int64(5), object(9)
memory usage: 46.9+ MB

In [385]:
train_df.drop('Available Extra Rooms in Hospital', axis=1)

,Department,Ward_Facility_Code,doctor_name,staff_available,patientid,Age,gender,Type of Admission,Severity of Illness,health_conditions,Visitors with Patient,Insurance,Admission_Deposit,Stay (in days)
0,gynecology,D,Dr Sophia,0,33070,41-50,Female,Trauma,Extreme,Diabetes,4,Yes,2966.408696,8
1,gynecology,B,Dr Sophia,2,34808,31-40,Female,Trauma,Minor,Heart disease,2,No,3554.835677,9
2,gynecology,B,Dr Sophia,8,44577,21-30,Female,Trauma,Extreme,Diabetes,2,Yes,5624.733654,7
3,gynecology,D,Dr Olivia,7,3695,31-40,Female,Urgent,Moderate,None,4,No,4814.149231,8
4,anesthesia,E,Dr Mark,10,108956,71-80,Male,Trauma,Moderate,Diabetes,2,No,5169.269637,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409995,gynecology,D,Dr Sarah,1,63105,31-40,Female,Trauma,Minor,Asthama,3,Yes,3902.291076,8
409996,gynecology,D,Dr Nathan,5,129292,21-30,Female,Trauma,Extreme,Other,4,No,4771.995223,9
409997,gynecology,D,Dr Sarah,9,11399,21-30,Female,Emergency,Minor,Asthama,4,Yes,3816.994210,9
409998,gynecology,D,Dr Olivia,10,75003,21-30,Female,Trauma,Moderate,Other,2,Yes,3841.577491,9
409999,gynecology,F,Dr Nathan,0,128183,41-50,Female,Trauma,Minor,Other,8,Yes,4329.046412,8

In [432]:
test_df.drop('Available Extra Rooms in Hospital', axis=1)

,Department,Ward_Facility_Code,doctor_name,staff_available,patientid,Age,gender,Type of Admission,Severity of Illness,health_conditions,Visitors with Patient,Insurance,Admission_Deposit
0,gynecology,F,Dr Olivia,10,2858,21-30,Female,Trauma,Moderate,Other,2,No,4749.640225
1,TB & Chest disease,E,Dr John,4,65657,51-60,Female,Trauma,Moderate,Asthama,2,Yes,4122.261324
2,radiotherapy,E,Dr John,7,45598,51-60,Other,Trauma,Moderate,None,3,No,5459.067882
3,gynecology,F,Dr Olivia,1,31132,21-30,Female,Trauma,Moderate,None,2,Yes,3987.033318
4,anesthesia,A,Dr John,7,125021,51-60,Female,Trauma,Extreme,Diabetes,2,No,4770.789695
...,...,...,...,...,...,...,...,...,...,...,...,...,...
89995,gynecology,F,Dr Sarah,2,43001,11-20,Female,Trauma,Minor,High Blood Pressure,3,No,4105.795901
89996,gynecology,F,Dr Olivia,8,85601,31-40,Female,Emergency,Moderate,Other,2,No,4631.550257
89997,gynecology,B,Dr Sarah,3,22447,11-20,Female,Emergency,Moderate,High Blood Pressure,2,No,5456.930075
89998,radiotherapy,A,Dr John,1,29957,61-70,Female,Trauma,Extreme,Diabetes,2,No,4694.127772
89999,gynecology,F,Dr Sophia,3,45008,41-50,Female,Trauma,Moderate,Heart disease,4,Yes,4713.868519

In [386]:
estancia_prolongada = []
for i in train_df['Stay (in days)']:
    if i > 8:
        estancia_prolongada.append(1)
    else:
        estancia_prolongada.append(0)

In [387]:
train_df['estancia_prolongada'] = estancia_prolongada

In [388]:
train_df['estancia_prolongada'] = train_df['estancia_prolongada'].astype(np.uint8)

In [389]:
train_df.head()

,Available Extra Rooms in Hospital,Department,Ward_Facility_Code,doctor_name,staff_available,patientid,Age,gender,Type of Admission,Severity of Illness,health_conditions,Visitors with Patient,Insurance,Admission_Deposit,Stay (in days),estancia_prolongada
0,4,gynecology,D,Dr Sophia,0,33070,41-50,Female,Trauma,Extreme,Diabetes,4,Yes,2966.408696,8,0
1,4,gynecology,B,Dr Sophia,2,34808,31-40,Female,Trauma,Minor,Heart disease,2,No,3554.835677,9,1
2,2,gynecology,B,Dr Sophia,8,44577,21-30,Female,Trauma,Extreme,Diabetes,2,Yes,5624.733654,7,0
3,4,gynecology,D,Dr Olivia,7,3695,31-40,Female,Urgent,Moderate,None,4,No,4814.149231,8,0
4,2,anesthesia,E,Dr Mark,10,108956,71-80,Male,Trauma,Moderate,Diabetes,2,No,5169.269637,34,1

In [390]:
categories = ['Department','Age','gender','Type of Admission','Severity of Illness','health_conditions']

Conversión de variables categóricas a dummies

In [391]:
for category in categories:
    cat_list = 'cat'+ ' ' + category
    cat_dummies = pd.get_dummies(train_df[category], prefix = cat_list )
    train_df_new = train_df.join(cat_dummies)
    train_df = train_df_new

In [433]:
for category in categories:
    cat_list = 'cat'+ ' ' + category
    cat_dummies = pd.get_dummies(test_df[category], prefix = cat_list )
    test_df_new = test_df.join(cat_dummies)
    test_df = test_df_new

In [434]:
train_df.head()

,Available Extra Rooms in Hospital,Department,Ward_Facility_Code,doctor_name,staff_available,patientid,Age,gender,Type of Admission,Severity of Illness,...,cat Type of Admission_Urgent,cat Severity of Illness_Extreme,cat Severity of Illness_Minor,cat Severity of Illness_Moderate,cat health_conditions_Asthama,cat health_conditions_Diabetes,cat health_conditions_Heart disease,cat health_conditions_High Blood Pressure,cat health_conditions_None,cat health_conditions_Other
0,4,gynecology,D,Dr Sophia,0,33070,41-50,Female,Trauma,Extreme,...,0,1,0,0,0,1,0,0,0,0
1,4,gynecology,B,Dr Sophia,2,34808,31-40,Female,Trauma,Minor,...,0,0,1,0,0,0,1,0,0,0
2,2,gynecology,B,Dr Sophia,8,44577,21-30,Female,Trauma,Extreme,...,0,1,0,0,0,1,0,0,0,0
3,4,gynecology,D,Dr Olivia,7,3695,31-40,Female,Urgent,Moderate,...,1,0,0,1,0,0,0,0,1,0
4,2,anesthesia,E,Dr Mark,10,108956,71-80,Male,Trauma,Moderate,...,0,0,0,1,0,1,0,0,0,0

In [393]:
train_df_vars = train_df.columns.values.tolist()

In [394]:
to_keep = [v for v in train_df_vars if v not in categories]

In [412]:
train = train_df[to_keep]
train.columns.values

array(['Available Extra Rooms in Hospital', 'Ward_Facility_Code',
       'doctor_name', 'staff_available', 'patientid',
       'Visitors with Patient', 'Insurance', 'Admission_Deposit',
       'Stay (in days)', 'estancia_prolongada',
       'cat Department_TB & Chest disease', 'cat Department_anesthesia',
       'cat Department_gynecology', 'cat Department_radiotherapy',
       'cat Department_surgery', 'cat Age_0-10', 'cat Age_11-20',
       'cat Age_21-30', 'cat Age_31-40', 'cat Age_41-50', 'cat Age_51-60',
       'cat Age_61-70', 'cat Age_71-80', 'cat Age_81-90',
       'cat Age_91-100', 'cat gender_Female', 'cat gender_Male',
       'cat gender_Other', 'cat Type of Admission_Emergency',
       'cat Type of Admission_Trauma', 'cat Type of Admission_Urgent',
       'cat Severity of Illness_Extreme', 'cat Severity of Illness_Minor',
       'cat Severity of Illness_Moderate',
       'cat health_conditions_Asthama', 'cat health_conditions_Diabetes',
       'cat health_conditions_Heart disease',
       'cat health_conditions_High Blood Pressure',
       'cat health_conditions_None', 'cat health_conditions_Other'],
      dtype=object)

In [413]:
train = train.drop(columns=['Available Extra Rooms in Hospital', 'Ward_Facility_Code','doctor_name','staff_available','patientid','Visitors with Patient','Insurance','Admission_Deposit','Stay (in days)'])

In [414]:
train2 = train.drop('estancia_prolongada',axis=1)

In [415]:
#train_data_vars = train.columns.values.tolist()
y_train = train['estancia_prolongada']
#X = [v for v in train_data_vars if v not in Y]
x_train = train2

Selección de rasgos para el modelo

In [416]:
n = 10

In [417]:
from sklearn import datasets
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [448]:
lr = LogisticRegression()

In [449]:
rfe = RFE(estimator=lr,n_features_to_select=n)
rfe = rfe.fit(X,Y)

In [450]:
print(rfe.support_)

[ True  True  True  True  True  True  True  True  True  True]

In [451]:
print(rfe.ranking_)

[1 1 1 1 1 1 1 1 1 1]

In [452]:
z = zip(train2,rfe.support_)

In [453]:
list(z)

[('cat Department_TB & Chest disease', True),
 ('cat Department_anesthesia', True),
 ('cat Department_gynecology', True),
 ('cat Department_radiotherapy', True),
 ('cat Department_surgery', True),
 ('cat Age_0-10', True),
 ('cat Age_11-20', True),
 ('cat Age_21-30', True),
 ('cat Age_31-40', True),
 ('cat Age_41-50', True)]

In [454]:
cols = ['cat Department_TB & Chest disease','cat Department_anesthesia','cat Department_gynecology','cat Department_radiotherapy','cat Age_0-10','cat Age_21-30', 'cat Age_51-60', 'cat Age_61-70','cat Age_71-80','cat Age_81-90']

In [456]:
x_train = train2[cols]
y_train = train['estancia_prolongada']

Implementación del modelo en Python con Scikit-Learn

In [457]:
from sklearn import linear_model

In [458]:
logit_model = linear_model.LogisticRegression()
logit_model.fit(X,Y)

LogisticRegression()

In [459]:
logit_model.score(X,Y)

0.6644512195121951

Validación del modelo logistico

In [460]:
x_test = test_df[cols]

In [461]:
lm = linear_model.LogisticRegression()
lm.fit(x_train,y_train)

LogisticRegression()

In [462]:
probs = lm.predict_proba(x_test)

In [463]:
probs

array([[4.02827938e-01, 5.97172062e-01],
       [2.45730876e-05, 9.99975427e-01],
       [9.61747022e-04, 9.99038253e-01],
       ...,
       [4.88992687e-01, 5.11007313e-01],
       [7.77393807e-04, 9.99222606e-01],
       [4.88992687e-01, 5.11007313e-01]])

In [464]:
prediction = lm.predict(x_test)

In [465]:
prediction

array([1, 1, 1, ..., 1, 1, 1], dtype=uint8)

In [477]:
prob_df = pd.DataFrame(probs)
threshold = 0.1
prob_df['prediction'] = np.where(prob_df[0]>threshold, 0, 1)

In [479]:
prob_df.head()

              0         1  prediction
0  4.028279e-01  0.597172           0
1  2.457309e-05  0.999975           1
2  9.617470e-04  0.999038           1
3  4.028279e-01  0.597172           0
4  6.928251e-08  1.000000           1

In [480]:
pd.crosstab(prob_df.prediction, columns='count')

col_0       count
prediction
0           69822
1           20178

In [482]:
from sklearn import metrics